apiVersion: v1
kind: Service
metadata:
  name: nginx-service
  namespace: demo-app
  labels:
    environment: argo
    app: nginx
    func: demo
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
  - port: 80
    targetPort: 80
